.root {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.inputWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	width: 350px;
}

.fieldWrapper {
	margin-top: 20px;
}

.input {
	width: 280px !important;

	input {
		color: var(--primary-color);
	}
}

.loginBtn {
	width: 350px;
}
