.root {
	position: relative;
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	width: 300px;
	background: var(--inverted-bg-color);
	transition: width 0.3s ease;
}

.collapsed {
	width: var(--sidebar-width-collapsed);
}

.collapseBtn {
	position: absolute;
	width: 30px;
	height: 30px;
	right: -22px;
	bottom: 50px;
	background-color: var(--inverted-bg-color);
}

.switcher {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.lang {
	margin-left: 20px;
}

.switcherCollapsed {
	flex-direction: column;

	.lang {
		margin: 0 auto;
	}
}
