.app.dark {
	--bg-color: rgb(69 11 91);
	--inverted-bg-color: rgb(234 234 13);
	--primary-color: #049604;
	--secondary-color: #04ff04;
	--inverted-primary-color: #0232c2;
	--inverted-secondary-color: #0449e0;
}
